body {
    max-width: 100vw;
    height: auto;
}

footer>p {
    font-size: 1.2em;
}

.articles {
    flex-wrap: unset;
    align-items: unset;
    margin-top: 40px;
}

nav>div>p {
    font-size:  2em;
    margin-bottom: 0;
}

h1 {
    font-size: 3em;
}

h2{
    font-size: 2em;
}

.intro>P {
    font-size: 1.5em;
}

.contenu{
    max-width: 33%;
}

.intro {
    padding: 0px 40px;
}

svg {
    width: 650px;
}